Package: me.eternal.mfp-premium
Name: MyFitnessPal Premium
Version: 0.0.1
Architecture: iphoneos-arm
Description: Permanent MyFitnessPal premium crack for jailbroken/sideloaded users.
Maintainer: eternal
Author: eternal
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
