Package: me.eternal.mfp-premium
Name: MyFitnessPal Premium
Version: 0.0.1
Architecture: iphoneos-arm
Description: Gives you permanent MyFitnessPal premium.
Maintainer: eternal
Author: eternal
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
